*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
}

/* body */

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

/* helpers */

button {
    width: 10rem;
    height: 3rem;
    color: #fff;
    background-image: linear-gradient(to bottom right, #f0f, #009);
    border-radius: 50px;
    border: none;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

/* HEADER */

header {
    background-color: #222;
}

header img {
    max-width: 7rem;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    margin: 1rem 2rem;
}

nav li {
    width: 6rem;
    height: 3rem;
    background-image: linear-gradient(to bottom right, #f0f, #009);
    border-radius: 50px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    height: 100%;
    width: 100%;
}

/* MAIN */

/* containers */
.container {
    display: flex;
    flex-direction: column;
    background-color: #111;
    max-width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
}

.container h1, .container h2, .container h3 {
    margin-top: 0;
}

.container a {
    color: #551a8b;
}

/* introduction */

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.introduction article {
    align-self: center;
    margin: 0 auto;
}

.introduction img {
    max-width: 100%;
    border-radius: 15px;
    max-height: 40rem;
    margin: 5rem;
}

/* cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding: 0rem;
}

.cards li {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    background-color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 30%;
    border-radius: 15px;
}

.cards li>img {
    order: -1;
    width: 100%;
    border-radius: 15px;
}

.cards li .content {
    padding: 0 1rem ;
}

.cards h3 {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.cards p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.cards a {
    display: inline-block;
    color: #551a8b;
    margin-bottom: 0.5rem;
}

/* FOOTER */

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #222;
    text-align: center;
}

/* form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formmessage {
    display: flex;
    justify-self: center;
}

.message {
    color: #95a5a6;
    text-align: center;
}

.error {
    color: #e74c3c;
}

label {
    margin-top: 10px;
    color: #fff;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    background-color: #555;
    color: #fff;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-image: linear-gradient(to bottom right, #f0f, #009);
    width: 6rem;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
}

/* gallery */

.gallery img {
    aspect-ratio: 1/1;
    width: 19%;
    border-radius: 15px;
}