*, *::before, *::after {
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color: #00002e;
    color: #fffdff;
}

/* nav */

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-left: -2rem;
}

nav a {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: inherit;
}

/* MAIN */

/* body */

/* containers */

/* cards */

/* FOOTER */