*, *::before, *::after {
    box-sizing: border-box;
}

/* body */

body {
    background-color: #000;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #fff;
}

/* HEADER */

header {
    background-color: #222;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1 { 
    margin: 1rem 2rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    margin: 1rem 2rem;
}


nav li {
    width: 6rem;
    height: 3rem;
    background-color: blue;
    border-radius: 50px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
}

/* MAIN */

/* containers */
.container {
    background-color: #111;
    max-width: 80rem;
    margin: 1rem auto;
    padding: 0 1rem;
    border-radius: 15px;
}

/* cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 0rem;
}

.cards li {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cards li>img {
    order: -1;
    max-width: 100%;
}

.cards li .content {
    padding: 0 1rem;
    padding: 1rem;
}

.cards h3 {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.cards p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.cards a {
    display: inline-block;
    margin-bottom: 1rem;
}



/* FOOTER */

footer {
    background-color: #222;
    display: flex;
    justify-content: center;
}
footer p {
    
    display: inline-block;
}