*, *::before, *::after {
    box-sizing: border-box;
}

/* body */

body {
    background-color: #000;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #fff;
}

/* helpers */

button {
    width: 10rem;
    height: 3rem;
    color: #fff;
    background-image: linear-gradient(to bottom right, #f0f, #009);
    border-radius: 50px;
    border: none;
    font-weight: bold;
    
}
button:hover {
    cursor: pointer;
}
.formmessage {
    display: flex;
    justify-self: center;
}

/* HEADER */

header {
    background-color: #222;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1 { 
    margin: 1rem 2rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    margin: 1rem 2rem;
}


nav li {
    width: 6rem;
    height: 3rem;
    background-image: linear-gradient(to bottom right, #f0f, #009);
    border-radius: 50px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    height: 100%;
    width: 100%;
}

/* MAIN */

/* containers */
.container {
    display: flex;
    flex-direction: column;
    background-color: #111;
    max-width: 60rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
}

.container h2 {
    margin-top: 0;
}

/* cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding: 0rem;
}

.cards li {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    background-color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 30%;
    border-radius: 15px;
}

.cards li>img {
    order: -1;
    max-width: 100%;
    border-radius: 15px;
}

.cards li .content {
    padding: 0 1rem ;
}

.cards h3 {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.cards p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.cards a {
    display: inline-block;
    color: #551a8b;
    margin-bottom: 0.5rem;
}

section > img {
    max-width: 50%;
}

/* FOOTER */

footer {
    background-color: #222;
    display: flex;
    justify-content: center;
}

footer p {
    display: inline-block;
}

/* form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    color: #95a5a6;
    text-align: center;
}

.error {
    color: #e74c3c;
}

label {
    margin-top: 10px;
    color: #fff;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    background-color: #555;
    color: #fff;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-image: linear-gradient(to bottom right, #f0f, #009);
    width: 6rem;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: backgound-color 0.3s ease;
    border-radius: 50px;
}