*, *::before, *::after {
	box-sizing: border-box;
}

main h1,
main h2{
    color: #4a6e7a;
    margin: 2rem 3rem 2rem 2rem;
}

main p {
    margin: 2rem 3rem 2rem 2rem;
}

main ul li {
    list-style: none;
}

#slot {
    margin: 1rem 0 1rem 0;
    padding-top: 1rem;
}

#slot p {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0 2rem;
}


/*====================DARK-MODE====================*/
.dark-mode main {
    background-color: #333;
    color: #ddd;
}
.dark-mode main h1,
.dark-mode main h2{
    color: #4a6e7a;
    margin: 2rem 3rem 2rem 2rem;
}

.dark-mode main p {
    margin: 2rem 3rem 2rem 2rem;
}

.dark-mode main ul li {
    list-style: none;
}

.dark-mode #slot {
    margin: 1rem 0 1rem 0;
    padding-top: 1rem;
}

.dark-mode #slot p {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0 2rem;
}
