*, *::before, *::after {
	box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
    margin-top: 20px;
}

form {
    margin-top: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea, form button {
    margin-bottom: 10px;
}