*, *::before, *::after {
	box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
}

/* form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formmessage {
    display: flex;
    justify-content: center;
}

.message {
    color: #95a5a6;
    text-align: center;
}

.error {
    color: #e74c3c;
}

label {
    margin-top: 10px;
    color: #555;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #555;
    background-color: #fff;
    color: #555;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 6rem;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #555;
    transition: background-color 0.3s ease;
}

button {
    width: 10rem;
    height: 3rem;
    color: #555;
    border-radius: 50px;
    border: 1px solid #555;
    font-weight: bold;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

.dark-mode .container {
    background-color: #333;
    color: #ddd;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode form {
    background-color: #333;
    color: #ddd;
}

.dark-mode .formmessage,
.dark-mode .error,
.dark-mode label,
.dark-mode input[type="text"],
.dark-mode textarea,
.dark-mode input[type="submit"],
.dark-mode button {
    border: 1px solid #aaa;
}

.dark-mode .message {
    color: #95a5a6;
}

.dark-mode .error {
    color: #ff5c5c;
}

.dark-mode label {
    color: #aaa;
}

.dark-mode input[type="text"],
.dark-mode textarea {
    background-color: #555;
    color: #ddd;
}

.dark-mode input[type="submit"],
.dark-mode button {
    color: #ddd;
    border: 1px solid #ddd;
}

.dark-mode input[type="submit"]:hover,
.dark-mode button:hover {
    background-color: #333;
    color: #ddd;
}
