.funwelcome {
    padding: 2rem;
    margin: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.funwelcome h2 {
    color: #333;
    font-size: 1.5rem;
}

.funwelcome p {
    color: #555;
    margin-bottom: 10px;
    font-size: 1rem;
}

.product-title {
    padding: 2rem;
    margin: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-title h2 {
    color: #333;
    font-size: 1.5rem;
}

.product-title p {
    color: #555;
    margin-bottom: 10px;
    font-size: 1rem;
}

.product-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
}

.product {
    width: calc(25% - 2rem);
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.product img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product h3 {
    color: #333;
    font-size: 1rem;
}

.product p {
    color: #555;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

.product .price {
    color: #e44d26;
    font-weight: bold;
    font-size: 1.2rem;
}

.product button {
    background-color: #4a6e7a;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.8rem;
}

.product button:hover {
    background-color: #333;
}

main a {
    display: block;
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: -4rem;
    color: #4a6e7a;
    text-decoration: underline;
}

main a:hover {
    color: #333;
}

.dark-mode {
    /* Dark Mode Welcome Section */
    background-color: #333;
    color: #ddd;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode .funwelcome h2,
.dark-mode .product-title h2 {
    color: #ddd;

}

.dark-mode .funwelcome p,
.dark-mode .product-title p {
    color: #aaa;

}

/* Dark Mode Product Listing */
.dark-mode .product-listing {
    margin: 2rem 4rem;
}

.dark-mode .product {
    background-color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode .product h3,
.dark-mode .product .price {
    color: #ddd;
}

.dark-mode .product p {
    color: #aaa;
}

.dark-mode .product button {
    background-color: #4a6e7a;
}

.dark-mode main a {
    margin: 2rem 2rem -4rem 2rem;
    color: #5b8796;
}

.dark-mode main a:hover {
    color: #ddd;
}


