h1 {
    font-weight: 700;
}
h1, h2, h3 {
    margin: 1.5rem 6rem 1.5rem 2rem;
}

p{
    margin: 1rem 6rem 1.5rem 2rem;
}

.bruh ul {
    margin: 2rem 2rem 2rem 0;
}

 ul:last-child {
    list-style: none;
}

.bruh li {
    margin: 0.5rem 6rem 0.5rem 1rem;
}

.bruh a {
    text-decoration: none;
}

.bruh a:hover {
    color: black;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3 {
    color: #ddd;
    margin: 1.5rem 6rem 1.5rem 2rem;
}

.dark-mode p {
    color: #aaa;
    margin: 1rem 6rem 1.5rem 2rem;
}

.dark-mode .bruh ul {
    margin: 2rem 2rem 2rem 0;
}

.dark-mode .bruh li {
    margin: 0.5rem 6rem 0.5rem 1rem;
}

.dark-mode .bruh a {
    color: #4a6e7a;
}

.dark-mode .bruh a:hover {
    color: #fff;
}
