/* moet nogs checke wa da geeft en bij wa da gelinkt moe worde ofz (is copy paste van wa in jefke zijn html stond nog niks aangepast voor de rest)*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h1 {
    color: #4a6e7a;
}

h2 {
    margin-top: 20px;
}

p {
    margin-bottom: 15px;
}

