main h1,
main h2{
    color: #4a6e7a;
    margin: 2rem 3rem 2rem 2rem;
}

main p {
    margin: 2rem 3rem 2rem 2rem;

}

.bruh ul {
    list-style: none;
    margin: 1.5rem 3rem 2rem 2rem;
}

.bruh a {
    text-decoration: none;
    padding: 1rem;
    background-color: #4a6e7a;
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    transition: 0.3s ease-in-out;
    margin-left: 0;
    color: black;
    font-weight: 600;
}

.bruh a:hover {
    margin-left: 1rem;
    background-color: #738991; 
    color: white;
    font-weight: 700;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5); 
}

.dark-mode main h1,
.dark-mode main h2 {
    color: #ddd;
    margin: 2rem 3rem 2rem 2rem;
}

.dark-mode main p {
    color: #aaa;
    margin: 2rem 3rem 2rem 2rem;
}

.dark-mode .bruh ul {
    list-style: none;
    margin: 1.5rem 3rem 2rem 2rem;
}

.dark-mode .bruh a {
    text-decoration: none;
    padding: 1rem;
    background-color: #4a6e7a;
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    transition: 0.3s ease-in-out;
    margin-left: 0;
    color: black;
    font-weight: 600;
}

.dark-mode .bruh a:hover {
    margin-left: 1rem;
    background-color: #738991;
    color: white;
    font-weight: 700;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}
