body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h3, h2 {
    color: #4a6e7a;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 20px;
}

p {
    margin-bottom: 15px;
}

.bruh {
    height:  100%;
    
}

.marge {
    margin-bottom: 10rem;
}

