*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fffdff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
}

ol li {
    margin-bottom: 1rem;
}

section>h2 {
    margin-top: 4rem;
}

.backtotop {
    font-size: 0.8rem;
}


/* HELPERS */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}


/* --- OEFENING 1 --- */

.typografie {
    margin: 0 auto;
}

article.typografie {
    border: 3px #343434 solid;
    padding: 1rem;
    font-family: 'Source Serif 4', serif;
    max-width: 42.5rem;
    font-size: 20px;
    line-height: 1.6;
    color: #222;
}

article.typografie p {
    margin-bottom: 30px;
}

article.typografie h1 {
    font-size: 45px;
    margin: 0;
}

article.typografie h2 {
    font-size: 30px;
    margin-bottom: 0px;
}

article.typografie h1,
article.typografie h2 {
    font-weight: 800;
}

article.typografie p:last-child {
    font-style: italic;
}


/* --- OEFENING 2 --- */

.mylink a {
    color: #ff0000;
}

.mylink a::before {
    content: url(./images/deleteicon.png);
    margin-right: 3px;
    vertical-align: middle;
}

.mybutton {
    display: inline-flex;
    background-color: #FF4942;
    padding: 0.65rem 0.85rem;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.mybutton a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    text-decoration: none;
}

.mybutton a:hover,
.mybutton a:focus-visible status {
    transition: 0.3s;
    gap: 30px;
}


/* --- OEFENING 3 --- */

article.shoe {
    /* Zorg dat deze gecentreerd zal worden en een maximum breedte van 30rem */
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 30rem;
    /* Stel het lettertype "open sans" in (google font) */
    font-family: 'Open Sans', serif;
    /* De afgronde hoeken zet je in met border radius, de schaduw met box-shadow */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #777;
}

/* Breadcrumb & update */

/* Plaats de breadcrumb (men - shoes) en new color naast elkaar met flex. 
Doe de nodige instellingen inzake typografie */

article.shoe div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.breadcrumb, .update {
    margin-top: 0;
    font-size: 12px;
}

.breadcrumb a {
    text-transform: uppercase;
    color: #888;
    margin-right: 10px;
}

.update {
    text-transform: uppercase;
    color: #ca8a4c;
}

/* Title & prices */

/* De titel en de prijs ga je ook naast elkaar plaatsen met flexbox
de prijs en de vat kan je onder elkaar plaatsen met flex-direction: column 
Doe de nodige instellingen inzake typografie */

article.shoe div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

article.shoe h1 {
    display: flex;
    flex-direction: column;
    align-self:center;
}

.price {
    display: flex;
    flex-direction: column;
    align-self:center;
    text-transform: uppercase;
    font-size: 26px;
}

.price span{
    align-self: flex-end;
    text-transform: uppercase;
    font-size: 12px;
    color: #888;
}

/* Description */


/* selecteer de paragraaf in het article, deze heeft weinig instelling buiten wat marges en een maximum breedte */
article.shoe > p {
    font-size: 16px;
    max-width: 21rem;
    margin: 2rem 0;
}

/* Colors */
.colors p {
    font-size: 14px;
    font-weight: bolder;
}

/* Maak de paragraaf met de kleurnaam correct op.
 Zet de foto's naast elkaar met flex en voorzie ruimte met gap
 Geef de list items een achtergrond kleur. Aangezien de foto's transparant zijn zie je die 
 als achtergrond bij de foto's.
 Stel een border in op de geselecteerde foto/kleur */

.colors ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 30rem;
    padding: 0rem;
    list-style: none;
    gap: 2rem;
}

.colors li {
    background-color: #eee;
    transition: background-color 0.2s, border 0.2s;
}

.colors li.selected {
    background-color: #fff;
    border: 2px solid #000;
}

/* Sizes */

.sizes p {
    font-size: 14px;
    font-weight: bolder;
}

/* Gebruik terug Flexbox om de sizes naast elkaar te plaatsen.
gebruik "wrap" om het grid effect te krijgen.
Via paddings kan je de knoppen groter maken. */

.sizes ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 30rem;
    padding: 0;
    list-style: none;
    gap: 0.5rem;
}

.sizes li {
    width: 5rem;
    height: 3rem;
    background-color: #eee;
    transition: background-color 0.2s, border 0.2s;
}

.sizes li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    height: 100%;
    width: 100%;
}


/* de lector zal ook de hover functie van dit onderdeel tonen in het labo */
.sizes li:hover {
    background-color: #fff;
    border: 2px solid #000;
}

/* button */


/* Om af te ronden, voorzie de opmaak van de button */
.addToCart {
    display: inline-flex;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    padding: 1.5rem 9rem;
    border-radius: 50px;
    white-space: nowrap;
}
